/*=============== DATA PROJECTS ===============*/
.data-projects{
   background-color: var(--body-color);
   transition: background-color .4s; /* for dark mode */

   &__container{
      row-gap: 2rem;
   }
   
   // Reuse the existing projects card styling
   .projects__card{
      padding: 1rem 1rem 2rem;
      transition: background-color .4s;
      
      &:hover{
         background-color: var(--container-color);
      }
   }
   
   .projects__image{
      position: relative;
      margin-bottom: .75rem;
   }
   
   .projects__button{
      position: absolute;
      right: 1rem;
      bottom: -1.5rem;
      padding: 1rem;
   }
   
   .projects__content{
      margin-bottom: 1.25rem;
   }
   
   .projects__subtitle{
      position: relative;
      display: inline-block;
      font-size: var(--small-font-size);
      font-weight: var(--font-medium);
      color: var(--text-color);
      margin-bottom: .75rem;
      padding-left: 1.75rem;

      &::after{
         content: '';
         width: 20px;
         height: 1px;
         background-color: var(--text-color);
         position: absolute;
         top: 50%;
         left: 0;
      }
   }
   
   .projects__title{
      font-size: var(--h3-font-size);
      margin-bottom: .75rem;
   }
   
   .projects__buttons{
      display: flex;
      align-items: center;
      column-gap: 1rem;
   }
   
   .projects__link{
      display: flex;
      align-items: center;
      column-gap: .25rem;
      color: var(--text-color);
      font-size: var(--small-font-size);
      font-weight: var(--font-medium);
      transition: color .4s;
      
      & i{
         font-size: 1rem;
         color: var(--title-color);
         transition: color .4s;
      }
      &:hover,
      &:hover i{
         color: var(--first-color);
      }
   }
}